body{
    background-image: linear-gradient(to top,  #fff7b0 0%, #f9f9f9 120%);
    font-family: Arial, sans-serif; /* Adjust font family as needed */
    margin: 0px;
    padding: 0px;
}
.Container {
   
  }
 .Heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .Logo img {
    max-width: 600px; 
    height: 100px;
  }

  .Content {
    display: flex;
    margin-top: 20px;
  }
  
  .Image1 img{
    max-width: 400px;
    height: 640px;
    padding-left: 10px ;
    position: relative;
    top: 14px;

  }
  
  .Details {
    position: relative;
    left: 100px;
}
  
  /* Details section */
  .Dt-Heading, .Dt-Conclusion {
    font-size: 15px;
    font-weight: 700;
    position: relative;
    max-width: 830px;
  }
  .Dt-Conclusion {
    font-weight: 500;
    color: #373737;

  }
  .Dt-Data{
    max-width: 820px;
    position: relative;
    left: 20px; 

  }
  .Dt-List {
    font-size: 13px;
    padding-left: 20px;
    line-height: 17px;
    font-weight: 500;
  }

  .Dt-Image img{
    width: 840px;
  }
  
  
  /* Main content section */
  .Main-Content {
    display: block;
    margin-top: 20px;
    padding: 20px;
  }
  
  .Mc-Content {
    font-size: 14px;
  }
  
  .Mc-Image {
    padding: 10px 60px;
    }
    .Mc-Image img{
        width: 1150px;
    }
    .Mc-List {
        text-align: center;
    }
    .Line{
        height: 1px;
        background-color: red;
        margin: 10px;
    }
  /* Last content section */
  .Last-Content {
    margin-top: 20px;
  }
  
  .L-Head {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .L-List {
    text-align: center;
    line-height: 1.6;
  }
  .L-List ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .L-List li{
    padding: 0px 4px;
    font-size: 13px;
    font-weight: 500px;
    border-right: 2px solid red;
  }
  .L-List li:last-child{
    border: none;
  }
  /* Footer section */
  .Footer {
    height: 100px;
    margin: 5px;
    margin-top: 40px;
    background-color: rgb(229, 47, 47);
  }
  
  .Ft-List {
    list-style-type: none;
    padding: 30px 0px;
    display: flex;
    justify-content: space-evenly;
    color: #f0e6e6;
  }
  
  .Ft-List li {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .Container {
      padding: 10px;
    }
    
    .Heading {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .Logo img {
      max-width: 80px;
    }
  }
  